/*
Project Name: Keyring Jeans
Author: Oscar Selden
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

/*All Pages*/

body { 
  margin-left: 15px;
  margin-right: 15px;
}


.navbar-default .navbar{

  background: #000;
  color: #fff;

}

.navbar-default .navbar-nav>li>a {
  color:#fff;
  font-size: 13px;

}


.navbar-brand {
    font-size: 30px;
    font-family: 'Droid Sans Mono', monospace;
    color: #fff !important;
    margin-left: 15px;
}



.navbar-brand:after {
    content:"Keyring Jeans";
}

.navbar-brand:hover:after {
   color: red;
  
}

.navbar a {
  color: inherit;
  text-decoration: none;
  padding-right: 5px;
}
.navbar {
  float: left;
  color: #fff;
  font-family: 'Droid Sans Mono', monospace;
  border: 0;
  width: 100%;
  border-bottom: solid 5px black;
  background: #000;
  color: #fff;
  overflow: hidden;
}



.navbar-default .navbar-nav>li>a:hover {
  color: green;
}

#nav-margin {
  margin-bottom: -20px;
}

#footer {
  text-align: center;
  background-color: #000;
}

#footer-logo{

  float: left;
  font-family: 'Droid Sans Mono', monospace;
  margin-left: 15px;
  font-size: 15px;
}

#footer-logo:hover{
  color: red;

}

.fa {
  margin-right: 40px;
}

.fa:hover {
  color: green;
  
}

.jjj:hover {
color: green;

}

#phoneFooter {
  display: none;
}

/*Home Page*/

#hill {

background-image: url(../images/KJ-Pointy.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: 0px -150px;
background-attachment: fixed;
height: 650px;


}

/*About Page*/

#about {

  background-image: url(../images/KJ-04.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -150px;
  margin-top: 15px;
}

h1 {

  font-family: 'Droid Sans Mono', monospace;
  color: #fff;
  text-align: center;
  display: block;
  line-height: 500px;

}

#words {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 15px;
  text-align: center;
  padding: 40px;
}

/*Gigs*/

#gigs {
  background-color: rgba(0,0,255, 0.5);

}

#shows {
  font-family: 'Droid Sans Mono', monospace;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 15px;
  color: #000;
  display: block;
  text-align: center;
  font-size: 25px;
  line-height: 0px;
}

#record-crate {
  float: right;
  margin-bottom: 15px;
}

/*Music*/

#music-pic {
  height: 470px;
  float: right;

}


/*Photos*/

#photos {

  background-color: #fff;
  height: 50px; 
  margin-bottom: 10px;
  margin-top: 30px;


}

#us {
  color: #000;
  text-align: center;
  display: block;
  line-height: 0px;
}


.keyringPhotos {
  border: 2px solid black;
  margin-bottom: 10px;
  margin-top: 10px;

}

.keyringPhotos:hover {


  opacity: 0.5;
  transform: scale (1.1, 1.1);
  padding: 15px;

}


/*Contact*/

#booking {
  background-color: rgba(46, 70, 198, 0.2);
}

#walking {
  margin-bottom: 15px;
}

#sayHello {
  margin-left: 0px;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1151px) {

  body {

    margin-right: -30px;
  }

#hill {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;

}

#nav-options {

  padding-right: 50px;
}

#nav-button {
  margin-right: 60px;

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .keyringPhotos {
    width: 150px;
  
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  #about {

  background-image: url(../images/KJ-04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  
}

h1 {

  font-family: 'Droid Sans Mono', monospace;
  color: #fff;
  text-align: center;
  display: block;
  line-height: 200px;

}

#words {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 12px;
  text-align: center;
  margin: 10px;
  margin-top: -150px;
}

}


/* Small Devices, Tablets */
@media only screen and (max-width : 568px) {

  .fa {
  margin-right: 10px;
}

}



/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

#desktopFooter {
  display: none;
}

#phoneFooter {
  display: inline;
  font-size: 12px;
  margin-left: -15px;
}

#hill {
  background-size: contain;

}

.jjj {
height: 25px;

}

.keyringPhotos {
 width: 100px;
  
}

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
