/*
Project Name: Keyring Jeans
Author: Oscar Selden
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

/*All Pages*/

body {
  background-color: #000;
  color: #fff;
}

.navbar-default .navbar{

  background: #000;
  color: #fff;

}

.navbar-default .navbar-nav>li>a {
  color:#fff;
  font-size: 13px;

}


.navbar-brand {
    font-size: 30px;
    font-family: 'Droid Sans Mono', monospace;
    color: #fff !important;
    margin-left: 15px;
}



.navbar-brand:after {
    content:"Keyring Jeans";
}

.navbar-brand:hover:after {
   color: #3AF52A;
  
}

.navbar a {
  color: inherit;
  text-decoration: none;
  padding-right: 5px;
}
.navbar {
  float: left;
  color: #fff;
  font-family: 'Droid Sans Mono', monospace;
  border: 0;
  width: 100%;
  border-bottom: solid 5px black;
  background: #000;
  color: #fff;
  overflow: hidden;
}



.navbar-default .navbar-nav>li>a:hover {
  color: #3AF52A;
}

#nav-margin {
  margin-bottom: -20px;
  margin-left: 0px;
  margin-right: 0px;
}

#footer {
  text-align: center;
  background-color: #000;
  margin-left: 0px;
  margin-right: 0px;
}

#footer-logo{

  float: left;
  font-family: 'Droid Sans Mono', monospace;
  margin-left: 15px;
  font-size: 15px;
}

#footer-logo:hover{
  color: #3AF52A;

}

.fa {
  margin-right: 40px;
}

.fa:hover {
  color: #3AF52A;
  
}

.jjj:hover {
color: #3AF52A;

}

#phoneFooter {
  display: none;
}

/*Home Page*/

#hill {

background-image: url(../images/KJ-Pointy.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: 0px -150px;
background-attachment: fixed;
height: 650px;
margin-right: 0px;
margin-left: 0px;


}

#hillSmall {
  display: none;
}

/*About Page*/

#about {

  background-image: url(../images/KJ-01.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 15px;


}

h1 {

  font-family: 'Droid Sans Mono', monospace;
  color: #fff;
  text-align: center;
  display: block;
  line-height: 500px;

}

#words {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 15px;
  text-align: center;
  padding: 40px;
}

/*Gigs*/

#gigs {
  background-color: #000;


}

#shows {
  font-family: 'Droid Sans Mono', monospace;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 15px;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 25px;
  line-height: 0px;
}

#newtownSocial {

  margin-bottom: 15px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}



/*Music*/

iframe {
border: 0; 
width: 300px; 
margin-left: auto;
margin-right: auto;
display: block;
height: 470px;
}


/*Photos*/

#photos {

  background-color: #000;
  height: 50px; 
  margin-bottom: 10px;
  margin-top: 30px;


}

#us {
  color: #fff;
  text-align: center;
  display: block;
  line-height: 0px;
}


.keyringPhotos {
  border: 2px solid black;
  margin-bottom: 10px;
  margin-top: 10px;

}

.keyringPhotos:hover {


  opacity: 0.5;
  transform: scale (1.1, 1.1);
 

}


/*Contact*/

#booking {
  margin-right: 0px;
  margin-left: 0px;
}

#send {
  color: green;
}

#walking {
  margin-bottom: 15px;
  float: right;
  margin-right: 10px;
}

#sayHello {
  float: left;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #000;
}



/*==========  Non-Mobile First Method  ==========*/

  @media only screen and (max-width : 1200px) {

  #walking {
    width: 75%;
  }

}


#hill {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;

}

#nav-options {

  padding-right: 50px;
}

#nav-button {
  margin-right: 60px;

}

  #walking {
    width: 75%;
  }

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .keyringPhotos {
    width: 150px;
  
}

h1 {

  line-height: 300px;
}

#words {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 12px;
    text-align: center;
    margin: 10px;
    
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  #about {

  background-image: url(../images/KJ-04.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-position: center;

  
}


h1 {

  font-family: 'Droid Sans Mono', monospace;
  color: #fff;
  text-align: center;
  display: block;
  line-height: 200px;

}

#words {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 12px;
  text-align: center;
  margin: 10px;
  margin-top: -50px;
}

  #walking {
    width: 60%;
  }

}


/* Small Devices, Tablets */
@media only screen and (max-width : 568px) {

  .fa {
  margin-right: 10px;
}

}



/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {



#desktopFooter {
  display: none;
}

#phoneFooter {
  display: inline;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;

}

#footer-logo {
  display: none;
}


.jjj {
height: 50px;

}

.keyringPhotos {
 width: 100px;
  
}

  #walking {
    display: none;
  }

  #about {
    margin-top: -50px
  }

  #words {
    margin-top: -100px;
  }

  #hill {
    background-image: url(../images/hillSmall.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-color: #000;
    width: 100%;


   
  }

  #music-pic {
    display: none;
  }

  #record-crate {
    display: none;
  }

  .navbar-brand {
    font-size: 20px;
  }

iframe {

    width: 200px; 
    height: 400px;
    margin-bottom: 10px;
}

#newtownSocial {
  height: 400px;
  width: 90%;
}

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
